.mot {
    font-size: 2rem;
    font-weight: 500;

    user-select: none;
    margin-right: 1rem;
}

.switch {
    height: 2rem;
    width: 4rem;

    border-radius: 1rem;
    background-color: lightgray;
    box-shadow: gray 0px 0px 3px;
}

@keyframes mochi {

    0%,
    100% {
        transform: translateX(0px) scaleX(1) scaleY(1);
    }
    
    40% {
        transform: translateX(0px) scaleX(1.5) scaleY(0.75);
    }

    70% {
        transform: translateX(-6px) scaleX(0.8) scaleY(1);
    }
}

@keyframes mochichi {

    0%,
    100% {
        transform: translateX(0px) scaleX(1) scaleY(1);
    }
    
    40% {
        transform: translateX(0px) scaleX(1.5) scaleY(0.75);
    }

    70% {
        transform: translateX(6px) scaleX(0.8) scaleY(1);
    }
}

.toggle {
    height: 1.5rem;
    width: 1.5rem;

    position: relative;
    top: 4px;
    left: 4px;

    background-color: white;
    border-radius: 0.75rem;

    animation: 200ms mochi ease-in-out;
}

.active {
    background-color: deepskyblue;
}

.active>div {
    left: calc(2.5rem - 4px);
    animation: 200ms mochichi ease-in-out;
}

.switch,
.toggle,
.active,
.active>div {
    transition: 200ms;
}